html {
    height: 100%;
}

body {
    
    

}

.whole-page {
    display: flex;
    height: 100%;
    margin: 0;
    background-color: violet;
}
.side-bar {
    min-width: 100px;
    max-width: 100px;
    min-height: 900px;
    background-color: lightgreen;
    border: solid 2px black;
    border-radius: 15px;
}
.content-area {
    width: 100%;
    min-height: 900px;
    background-color: violet;
}
img {
    height: 120px;
    width: 120px;
    border: solid 1px black;
}
.content-area {
    list-style: none;
}