.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.selected {
  background-color: aquamarine;
}
.poke-item-detail-parent {
  position: fixed;
  width: 700px;
  left: 15%;
  right: 50%;
  border: solid 10px chartreuse;
  margin-top: 100px;
  background-color: greenyellow;
  
  
}
header {
  text-align: right;
  background-color:deeppink;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  border: solid 2px whitesmoke;
  border-radius: 15px;
  margin-right: 30px;
}
.nav-button {
  border: solid 2px black;
  border-radius: 15px;
  padding: 10px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
 flex-wrap: wrap;
  

}
li {
  border: solid 2px black;
  border-radius: 15px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: chartreuse;
  
}
.home-image {
  height: 100%;
  width: 100%;

}
label {
  display: block;
}

.everything-together {
  background-color: hotpink;
  min-height: 800px;
}
.search-input {
  width: 75%;
}
